/* 共通 */

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-family: "メイリオ";
}

div.container {
    max-width: 960px;
}

/* navbar */
img.home-icon {
    width: 40px;
    margin-left: 30px;
}

a.nav-link {
    width: 100px;
    margin-left: 10px;
    background-color: skyblue;
    text-align: center;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

/* index */

div.select_part {
    width: 960px;
    background-color: white;
    margin-top: 20px;
}

div.card {
    width: 900px;
    margin: 10px auto;
}

img.top_img{
    max-width: 960px;
}

h3 {
    font-size: 16px;
    font-weight: bold;
}

h5 {
    font-size: 14px;
}

h3.card-header {
    border-bottom: 2px solid skyblue;
}

td.icon1 {
    width: 16px;
    display: none;
}

td.icon2 {
    width: 16px;
    display: none;
}

td.icon3 {
    width: 16px;
    display: none;
}

td.icon4 {
    width: 16px;
    display: none;
}

td.card-title {
    padding: 20px 0;
}

input[type="radio"] {
    margin: 15px 20px;
}

button.detail {
    float: right;
    width: 60px;
    margin-top: 12px;
}

button.checkdate {
    margin: 30px 35px;
    padding: 5px 10px;
    width: 100px;
    border: 1px solid skyblue;
}

th {
    text-align: center;
}

th.first {
    padding-left: 20px;
    padding-right: 20px;
}

li.button-list {
    margin-top: 15px;
    float: left;
    list-style: none;
}

button.now-reserv {
    width: 100px;
}

button.pre-reserv {
    width: 80px;
    margin-left: 560px;
}

button.next-reserv {
    width: 80px;
    margin-left: 20px;
}

li.text-list {
    margin-top: 15px;
    float: left;
    list-style: none;
}

p.text {
    margin-right: 30px;
}
